

.ButtonText{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}


/*  navbar  */

.NavContainer {
  z-index: 100;
}

.NavBar {
  display: grid;
  grid-template-columns: 1fr 8fr repeat(4, 1fr);
  grid-gap: 2%;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  position: absolute;
  height: 10rem;
  right: 0px;
  left: 0px;
  top: 0px;

  /* Background */
  /* background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #202020 100%); */
  background: transparent;
  z-index: inherit;
}

.NavBarBackground {
  background: url('../public/channel-art.png');
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(0.3);
  transform: scale(1.5);

  position: absolute;
  height: 10rem;
  right: 0px;
  top: 0px;
  left: 0px;
  z-index: inherit;
}

.NavBarIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 12px;

  border-radius: 5%;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  text-decoration: none;
}

.NavBarLogo{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  border-radius: 5%;
  width: 6rem;

  transition: transform 0.5s ease-out;
}

.NavBarLogo:hover{
  transform: scale(1.05);
}

.NavBarText {
  font-family: 'Share Tech Mono';
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;

  text-decoration: none;

  /* White */
  color: #FFFFFF;
}

.NavBarLogoText {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, white 0%, white 100%);
  transition: background-image 0.5s ease-in;
}

.NavBarLogoText:hover{
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.NavBarButton {}

.NavBarButton a{
  font-family: 'Share Tech Mono';
  text-decoration: none;
  color: white;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 12px;
  background-color: #181818;
  height: 46px;

  border-radius: 5%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}

.NavBarButton a:hover {
  background-color: #363636;
  transform: scale(1.1);
}



/* hero */

.Hero {
  position: relative;
  left: 0;
  right: 0;
  top: 10rem;

  display: flex;
  align-items: center;
}

.HeroBackground {
  display: flex;
  width: 80%;
  flex-direction: row;
}

.HeroText {

}

.HeroSubtitle {
  
}

/* github */
.Github {
  position: relative;
  top: 10rem;
}


/* spotify */
.Spotify {
  position: relative;
  top: 10rem;
}


/* kofi */
.Kofi {
  position: relative;
  top: 10rem;
}


/* about me */
.AboutMe {
  position: relative;
  top: 10rem;
}


/* contact */
.Contact {
  position: relative;
  top: 10rem;
}

